<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.lagradost.cloudstream3.desktop.init.PrivateLogLayout" />
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${auras.logs.dir:-${user.home}/AppData/Roaming/AurasOrbit/logs}/app.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${auras.logs.dir:-${user.home}/AppData/Roaming/AurasOrbit/logs}/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>35MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.lagradost.cloudstream3.desktop.init.PrivateLogLayout" />
        </encoder>
    </appender>

    <!-- To see all debug messages and network requests, change level to "debug" -->
    <!-- To see normal app events, change level to "info" -->
    <!-- To only see problems (current default), change level to "warn" or "error" -->
    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
